@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Ceviche+One&family=Cinzel:wght@400;500;600;700;800;900&family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Griffy&family=Henny+Penny&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Lobster&family=Luckiest+Guy&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Parisienne&family=Permanent+Marker&family=Poiret+One&family=Press+Start+2P&family=Qahiri&family=Russo+One&family=Satisfy&family=Staatliches&family=Zen+Kurenaido&display=swap');


/* * Set Font */
.font-1 {
    font-family: 'Alfa Slab One', cursive;
}
.font-2 {
    font-family: 'Amatic SC', cursive;
}
.font-3 {
    font-family: 'Caveat', cursive;
}
.font-4 {
    font-family: 'Ceviche One', cursive;
}
.font-5 {
    font-family: 'Cinzel', serif;
}
.font-6 {
    font-family: 'Courgette', cursive;
}
.font-7 {
    font-family: 'Dancing Script', cursive;
}
.font-8 {
    font-family: 'Great Vibes', cursive;
}
.font-9 {
    font-family: 'Griffy', cursive;
}
.font-10 {
    font-family: 'Henny Penny', cursive;
}
.font-11 {
    font-family: 'IBM Plex Mono', monospace;
}
.font-12 {
    font-family: 'Indie Flower', cursive;
}
.font-13 {
    font-family: 'Lobster', cursive;
}
.font-14 {
    font-family: 'Luckiest Guy', cursive;
}
.font-15 {
    font-family: 'Orbitron', sans-serif;
}
.font-16 {
    font-family: 'Pacifico', cursive;
}
.font-17 {
    font-family: 'Parisienne', cursive;
}
.font-18 {
    font-family: 'Permanent Marker', cursive;
}
.font-19 {
    font-family: 'Poiret One', cursive;
}
.font-20 {
    font-family: 'Press Start 2P', cursive;
}
.font-21 {
    font-family: 'Qahiri', sans-serif;
}
.font-22 {
    font-family: 'Russo One', sans-serif;
}
.font-23 {
    font-family: 'Satisfy', cursive;
}
.font-24 {
    font-family: 'Staatliches', cursive;
}
.font-25 {
    font-family: 'Zen Kurenaido', sans-serif;
}