@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&amp;family=Source+Sans+Pro:wght@200&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html[scroll="true"] {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--color);
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: "Raleway", sans-serif;
    background: var(--bg);
    transition: .2s;
    overflow: hidden;
}

ul, li {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
a {
    color: #fff;
    text-decoration: none;
}
input, textarea {
    outline: none;
    border: none;
}

xmp {
    font-family: 'Open Sans', sans-serif;
    white-space: pre;
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    border-spacing: 0px;
}









/* ! SCROLL */

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}
    
::-webkit-scrollbar-track {
    background-color: transparent;
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: var(--dimming-2);
}
    
/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
} */
    
::-webkit-resizer {
    background-repeat: no-repeat;
    width: thin;
    height: 0px;
}
    
::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
    background: var(--T);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--dimming-2) var(--T);
}