:root {

    --m-color: #dadada;

    --C2: #00d38f;
    --C2-alt: #00d38f25;
    --C3: #ffde5a;
    --C3-alt: #ffde5a35;
    --C4: #ff4e33;
    --C4-alt: #ff4e3335;
    --C5: #f64072;
    --C5-alt: #f6407235;
    --C6: #ffb433;
    --C6-alt: #ffb43335;
    --C7: #0292E0;
    --C7-alt: #0292E035;

    --T: transparent;

}

html[theme="dark"]:root {

    --bg: #06070d;
    --bg-2: #151518;
    --bg-2-alt: #0a0b13;
    --bg-3: #161a1f;
    --bg-4: #14151b;
    --color: #e8e8e8;
    --color-r: #06070d;
    --color-2: #969696;
    --color-3: #636363;
    --dimming: #ffffff15;
    --dimming-2: #ffffff25;
    --dimming-3: #ffffff45;
    --dimming-4: #ffffff75;

    --C1: #7579ff;
    --C1-alt: #7579ff20;

}
html[theme="light"]:root {

    --bg: #ffffff;
    --bg-2: #e6e6e6;
    --bg-2-alt: #f0f0f0;
    --bg-3: #c4c4c4;
    --bg-4: #e6e6e6;
    --color: #06070d;
    --color-r: #e8e8e8;
    --color-2: #333333;
    --color-3: #afafaf;
    --dimming: #00000015;
    --dimming-2: #00000025;
    --dimming-3: #00000045;
    --dimming-4: #00000075;

    --C1: #f64072;
    --C1-alt: #f6407235;

}