@font-face {
  font-family: 'Aikon';
  src:  url('./fonts/Aikon.eot?ocxlb2');
  src:  url('./fonts/Aikon.eot?ocxlb2#iefix') format('embedded-opentype'),
    url('./fonts/Aikon.ttf?ocxlb2') format('truetype'),
    url('./fonts/Aikon.woff?ocxlb2') format('woff'),
    url('./fonts/Aikon.svg?ocxlb2#Aikon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.hx-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Aikon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-discord-alt:before {
  content: "\e991";
}
.i-threads .path1:before {
  content: "\e96c";
}
.i-threads .path2:before {
  content: "\e990";
  margin-left: -1em;
}
.i-osu-alt:before {
  content: "\e91d";
}
.i-osu:before {
  content: "\e922";
}
.i-discord:before {
  content: "\e98e";
}
.i-discord-solid:before {
  content: "\e98f";
}
.i-linux:before {
  content: "\e900";
}
.i-share:before {
  content: "\e901";
}
.i-song:before {
  content: "\e902";
}
.i-stats:before {
  content: "\e903";
}
.i-blog-writing:before {
  content: "\e904";
}
.i-home:before {
  content: "\e905";
}
.i-search-alt:before {
  content: "\e906";
}
.i-edit:before {
  content: "\e907";
}
.i-file:before {
  content: "\e908";
}
.i-desktop:before {
  content: "\e909";
}
.i-desktop-alt:before {
  content: "\e90a";
}
.i-comments-alt:before {
  content: "\e90b";
}
.i-comment:before {
  content: "\e90c";
}
.i-comment-solid:before {
  content: "\e90d";
}
.i-comment-alt:before {
  content: "\e90e";
}
.i-arrow-up:before {
  content: "\e90f";
}
.i-arrow-down:before {
  content: "\e910";
}
.i-arrow-left:before {
  content: "\e911";
}
.i-arrow-right:before {
  content: "\e912";
}
.i-heart-:before {
  content: "\e913";
}
.i-qrcode:before {
  content: "\e914";
}
.i-dislike:before {
  content: "\e915";
}
.i-like:before {
  content: "\e916";
}
.i-dislike-alt:before {
  content: "\e917";
}
.i-like-alt:before {
  content: "\e918";
}
.i-hand:before {
  content: "\e919";
}
.i-sort-alt:before {
  content: "\e91a";
}
.i-hand-alt:before {
  content: "\e91b";
}
.i-sort-amount-down:before {
  content: "\e91c";
}
.i-sort-amount-down-alt:before {
  content: "\e91e";
}
.i-sort-amount-up:before {
  content: "\e91f";
}
.i-tag:before {
  content: "\e920";
}
.i-cube:before {
  content: "\e921";
}
.i-exit:before {
  content: "\e923";
}
.i-translate:before {
  content: "\e924";
}
.i-brush:before {
  content: "\e925";
}
.i-brush-alt:before {
  content: "\e926";
}
.i-eye-hide:before {
  content: "\e927";
}
.i-eye:before {
  content: "\e928";
}
.i-star-alt:before {
  content: "\e929";
}
.i-star:before {
  content: "\e92a";
}
.i-fork:before {
  content: "\e92b";
}
.i-notification:before {
  content: "\e92c";
}
.i-clouds-sun:before {
  content: "\e92d";
}
.i-sun-moon:before {
  content: "\e92e";
}
.i-sun:before {
  content: "\e92f";
}
.i-palette:before {
  content: "\e930";
}
.i-color-picker:before {
  content: "\e931";
}
.i-colors:before {
  content: "\e932";
}
.i-color-swatch:before {
  content: "\e933";
}
.i-logo:before {
  content: "\e934";
}
.i-trash:before {
  content: "\e936";
}
.i-brush-solid:before {
  content: "\e937";
}
.i-text-a:before {
  content: "\e938";
}
.i-text-size:before {
  content: "\e939";
}
.i-text:before {
  content: "\e93a";
}
.i-text-italic:before {
  content: "\e93b";
}
.i-palette-alt:before {
  content: "\e93c";
}
.i-id-card:before {
  content: "\e93d";
}
.i-info-circle:before {
  content: "\e93e";
}
.i-user-circle:before {
  content: "\e93f";
}
.i-search:before {
  content: "\e940";
}
.i-verify:before {
  content: "\e941";
}
.i-level:before {
  content: "\e942";
}
.i-username:before {
  content: "\e943";
}
.i-ellipsis:before {
  content: "\e946";
}
.i-setting:before {
  content: "\e947";
}
.i-settings:before {
  content: "\e948";
}
.i-images:before {
  content: "\e949";
}
.i-image:before {
  content: "\e94a";
}
.i-pencil:before {
  content: "\e94b";
}
.i-quill:before {
  content: "\e94c";
}
.i-pen:before {
  content: "\e94d";
}
.i-droplet:before {
  content: "\e94e";
}
.i-dice:before {
  content: "\e94f";
}
.i-pacman:before {
  content: "\e950";
}
.i-spades:before {
  content: "\e951";
}
.i-clubs:before {
  content: "\e952";
}
.i-diamonds:before {
  content: "\e953";
}
.i-book:before {
  content: "\e955";
}
.i-ticket:before {
  content: "\e956";
}
.i-clock-alt:before {
  content: "\e957";
}
.i-clock:before {
  content: "\e958";
}
.i-alarm:before {
  content: "\e959";
}
.i-level-alt:before {
  content: "\e95a";
}
.i-git-alt:before {
  content: "\e95b";
}
.i-shield:before {
  content: "\e95c";
}
.i-damage-void:before {
  content: "\e95d";
}
.i-close:before {
  content: "\e95e";
}
.i-trash-alt:before {
  content: "\e95f";
}
.i-circle-alt:before {
  content: "\e960";
}
.i-circle:before {
  content: "\e961";
}
.i-music-note:before {
  content: "\e962";
}
.i-chat-message:before {
  content: "\e964";
}
.i-merge:before {
  content: "\e965";
}
.i-users:before {
  content: "\e966";
}
.i-via:before {
  content: "\e96a";
}
.i-settings-check:before {
  content: "\e96b";
}
.i-settings-plus:before {
  content: "\e96d";
}
.i-text-align-left:before {
  content: "\e96e";
}
.i-tetris:before {
  content: "\e96f";
}
.i-tetris3:before {
  content: "\e970";
}
.i-tetris2:before {
  content: "\e971";
}
.i-tetris4:before {
  content: "\e972";
}
.i-tetris6:before {
  content: "\e973";
}
.i-tetris5:before {
  content: "\e974";
}
.i-tetris-solid:before {
  content: "\e975";
}
.i-steam:before {
  content: "\e976";
}
.i-layers:before {
  content: "\e977";
}
.i-microsoft:before {
  content: "\e979";
}
.i-postman:before {
  content: "\e984";
}
.i-pie-chart:before {
  content: "\e99a";
}
.i-gift:before {
  content: "\e99f";
}
.i-glass:before {
  content: "\e9a0";
}
.i-mug:before {
  content: "\e9a2";
}
.i-fire:before {
  content: "\e9a9";
}
.i-lab:before {
  content: "\e9aa";
}
.i-switch:before {
  content: "\e9b6";
}
.i-power-cord:before {
  content: "\e9b7";
}
.i-cloud:before {
  content: "\e9c1";
}
.i-cloud-download:before {
  content: "\e9c2";
}
.i-cloud-upload:before {
  content: "\e9c3";
}
.i-cloud-check:before {
  content: "\e9c4";
}
.i-sphere:before {
  content: "\e9c9";
}
.i-earth:before {
  content: "\e9ca";
}
.i-link:before {
  content: "\e9cb";
}
.i-attachment:before {
  content: "\e9cd";
}
.i-sun-alt:before {
  content: "\e9d4";
}
.i-contrast:before {
  content: "\e9d5";
}
.i-brightness-contrast:before {
  content: "\e9d6";
}
.i-heart:before {
  content: "\e9da";
}
.i-heart-broken:before {
  content: "\e9db";
}
.i-filter:before {
  content: "\ea5b";
}
.i-font:before {
  content: "\ea5c";
}
.i-bold:before {
  content: "\ea62";
}
.i-underline:before {
  content: "\ea63";
}
.i-italic:before {
  content: "\ea64";
}
.i-amazon:before {
  content: "\ea87";
}
.i-google:before {
  content: "\ea88";
}
.i-google-drive:before {
  content: "\ea8f";
}
.i-facebook-alt:before {
  content: "\ea90";
}
.i-facebook:before {
  content: "\ea91";
}
.i-instagram:before {
  content: "\ea92";
}
.i-spotify:before {
  content: "\ea94";
}
.i-telegram:before {
  content: "\ea95";
}
.i-twitter:before {
  content: "\ea96";
}
.i-vk:before {
  content: "\ea98";
}
.i-youtube:before {
  content: "\ea9d";
}
.i-twitch:before {
  content: "\ea9f";
}
.i-dropbox:before {
  content: "\eaae";
}
.i-onedrive:before {
  content: "\eaaf";
}
.i-github:before {
  content: "\eab0";
}
.i-linux-hat:before {
  content: "\eabd";
}
.i-apple:before {
  content: "\eabe";
}
.i-android:before {
  content: "\eac0";
}
.i-windows:before {
  content: "\eac1";
}
.i-windows8:before {
  content: "\eac2";
}
.i-soundcloud:before {
  content: "\eac3";
}
.i-soundcloud1:before {
  content: "\eac4";
}
.i-skype:before {
  content: "\eac5";
}
.i-reddit:before {
  content: "\eac6";
}
.i-linkedin:before {
  content: "\eac9";
}
.i-stackoverflow:before {
  content: "\ead0";
}
.i-pinterest:before {
  content: "\ead1";
}
.i-pinterest-alt:before {
  content: "\ead2";
}
.i-paypal:before {
  content: "\ead8";
}
.i-chrome:before {
  content: "\ead9";
}
.i-firefox:before {
  content: "\eada";
}
.i-IE:before {
  content: "\eadb";
}
.i-edge:before {
  content: "\eadc";
}
.i-safari:before {
  content: "\eadd";
}
.i-opera:before {
  content: "\eade";
}
.i-git:before {
  content: "\eae7";
}
.i-codepen:before {
  content: "\eae8";
}
.i-headphones:before {
  content: "\e935";
}
.i-bullhorn:before {
  content: "\e944";
}
.i-mic:before {
  content: "\e945";
}
.i-barcode:before {
  content: "\e968";
}
.i-cart:before {
  content: "\e969";
}
.i-coin-dollar:before {
  content: "\e978";
}
.i-coin-euro:before {
  content: "\e97a";
}
.i-coin-pound:before {
  content: "\e97b";
}
.i-coin-yen:before {
  content: "\e97c";
}
.i-credit-card:before {
  content: "\e97d";
}
.i-phone:before {
  content: "\e97e";
}
.i-phone-hang-up:before {
  content: "\e97f";
}
.i-location:before {
  content: "\e980";
}
.i-location2:before {
  content: "\e981";
}
.i-compass:before {
  content: "\e982";
}
.i-map:before {
  content: "\e983";
}
.i-map-alt:before {
  content: "\e985";
}
.i-history:before {
  content: "\e986";
}
.i-keyboard:before {
  content: "\e987";
}
.i-mobile:before {
  content: "\e988";
}
.i-spinner:before {
  content: "\e989";
}
.i-spinner2:before {
  content: "\e98a";
}
.i-spinner9:before {
  content: "\e98b";
}
.i-spinner10:before {
  content: "\e98c";
}
.i-key:before {
  content: "\e98d";
}
.i-leaf:before {
  content: "\e9a6";
}
.i-rocket:before {
  content: "\e9a7";
}
.i-airplane:before {
  content: "\e9b0";
}
.i-truck:before {
  content: "\e9b1";
}
.i-circle-play:before {
  content: "\ea15";
}
.i-circle-pause:before {
  content: "\ea16";
}
.i-circle-stop:before {
  content: "\ea17";
}
.i-circle-previous:before {
  content: "\ea18";
}
.i-circle-next:before {
  content: "\ea19";
}
.i-circle-backward:before {
  content: "\ea1a";
}
.i-circle-forward:before {
  content: "\ea1b";
}
.i-play:before {
  content: "\ea1c";
}
.i-pause:before {
  content: "\ea1d";
}
.i-stop:before {
  content: "\ea1e";
}
.i-backward:before {
  content: "\ea1f";
}
.i-forward:before {
  content: "\ea20";
}
.i-first:before {
  content: "\ea21";
}
.i-last:before {
  content: "\ea22";
}
.i-previous:before {
  content: "\ea23";
}
.i-next:before {
  content: "\ea24";
}
.i-volume-high:before {
  content: "\ea26";
}
.i-volume-medium:before {
  content: "\ea27";
}
.i-volume-low:before {
  content: "\ea28";
}
.i-volume-mute:before {
  content: "\ea29";
}
.i-volume-mute-alt:before {
  content: "\ea2a";
}
.i-volume-increase:before {
  content: "\ea2b";
}
.i-volume-decrease:before {
  content: "\ea2c";
}
.i-loop:before {
  content: "\ea2e";
}
.i-infinite:before {
  content: "\ea31";
}
.i-shuffle:before {
  content: "\ea32";
}
.i-arrow-line-up-left:before {
  content: "\ea39";
}
.i-arrow-line-up:before {
  content: "\ea3a";
}
.i-arrow-line-up-right:before {
  content: "\ea3b";
}
.i-arrow-line-right:before {
  content: "\ea3c";
}
.i-arrow-line-down-right:before {
  content: "\ea3d";
}
.i-arrow-line-down:before {
  content: "\ea3e";
}
.i-arrow-line-down-left:before {
  content: "\ea3f";
}
.i-arrow-line-left:before {
  content: "\ea40";
}
.i-circle-up:before {
  content: "\ea41";
}
.i-circle-right:before {
  content: "\ea42";
}
.i-circle-down:before {
  content: "\ea43";
}
.i-circle-left:before {
  content: "\ea44";
}
.i-command:before {
  content: "\ea4f";
}
.i-shift:before {
  content: "\ea50";
}
.i-ctrl:before {
  content: "\ea51";
}
.i-opt:before {
  content: "\ea52";
}
.i-checkbox-checked:before {
  content: "\ea53";
}
.i-checkbox-unchecked:before {
  content: "\ea54";
}
.i-radio-checked-alt:before {
  content: "\ea55";
}
.i-radio-checked:before {
  content: "\ea56";
}
.i-radio-unchecked:before {
  content: "\ea57";
}
.i-basecamp:before {
  content: "\eab2";
}
