:root {
    /* --font-family: 'Open Sans', sans-serif; */
    /* --font-family: Avenir, Helvetica, Arial, sans-serif; */
    /* --font-family: "Raleway", sans-serif; */
    /* --font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
                   Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    --font-family: 'Lora', serif;
}

/* ? Roboto Slab */
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Thin.ttf') format('truetype');
    font-weight: 200;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Light.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Regular.ttf') format('truetype');
    font-weight: 500;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Medium.ttf') format('truetype');
    font-weight: 600;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Bold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap
}

/* ? Shalimar */
@font-face {
    font-family: 'Shalimar';
    src: url('../fonts/Shalimar/Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}

/* ? Lora */
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

/* ? Lato */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap
}