@import './vars.scss';
@import './fonts.scss';

* {
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    background-color: var(--background-primary);
    box-sizing: border-box;
}


ul, ol, li {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.blur {
    background-color: var(--background-primary);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .blur {
        background-color: #01010125;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .light .blur {
        background-color: transparent;
    }
}